/* контент хэсэг унших */
@keyframes load-animation
{
0% 
{
      transform: scale(0);
}
20% 
{
      transform: scale(1);
}
40% 
{
      transform: scale(1.5);
}
60% 
{      
      opacity: 0.5;
      transform: scale(2);
}
80% 
{      
      opacity: 0.25;
      transform: scale(2.5);
}
100% 
{      
      opacity: 0;
      transform: scale(3);
}
}
@-moz-keyframes load-animation
{
0% 
{
      transform: scale(0);
}
20% 
{
      transform: scale(1);
}
40% 
{
      transform: scale(1.5);
}
60% 
{      
      opacity: 0.5;
      transform: scale(2);
}
80% 
{      
      opacity: 0.25;
      transform: scale(2.5);
}
100% 
{      
      opacity: 0;
      transform: scale(3);
}    
}
@-webkit-keyframes load-animation
{
0% 
{
      transform: scale(0);
}
20% 
{
      transform: scale(1);
}
40% 
{
      transform: scale(1.5);
}
60% 
{      
      opacity: 0.5;
      transform: scale(2);
}
80% 
{      
      opacity: 0.25;
      transform: scale(2.5);
}
100% 
{      
      opacity: 0;
      transform: scale(3);
}
}



/* контент хэсэг хаяг */
@keyframes foot-animation
{
from
{
      stroke-dasharray: 1, 5;
}
to
{
      stroke-dasharray: 5, 0;
}
}
@-moz-keyframes foot-animation
{
from
{
      stroke-dasharray: 1, 5;
}
to
{
      stroke-dasharray: 5, 0;
}
}
@-webkit-keyframes foot-animation
{
from
{
      stroke-dasharray: 1, 5;
}
to
{
      stroke-dasharray: 5, 0;
}
}
@keyframes foot-circle
{
from
{       
      stroke-dashoffset: 0;
      stroke-dasharray: 0, 500;
}
to
{
      
      stroke-dashoffset: -100;
      stroke-dasharray: 100, 0;
}
}
@-moz-keyframes foot-circle
{
from
{       
      stroke-dashoffset: 0;
      stroke-dasharray: 0, 500;
}
to
{
      
      stroke-dashoffset: -100;
      stroke-dasharray: 100, 0;
}
}
@-webkit-keyframes foot-circle
{
from
{       
      stroke-dashoffset: 0;
      stroke-dasharray: 0, 500;
}
to
{
      
      stroke-dashoffset: -100;
      stroke-dasharray: 100, 0;
}
}