.content-section-navigation
{
      width: 100%;
      height: 70vh;      
      background-size: cover;
      background-repeat: no-repeat;       
      background-image: url('assets/img/darkhan.jpg');
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}  
.content-section-card
.section-card:nth-child(1):before 
{         
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;      
      background-image: url('assets/img/bugeehei.JPG');
}
.content-section-card
.section-card:nth-child(2):before 
{      
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('assets/img/shoroon.jpg');
}
.content-section-card
.section-card:nth-child(3):before 
{     
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('assets/img/shishuuhei.jpg');
}
.content-section-card
.section-card:nth-child(4):before 
{     
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('assets/img/hugchuu.jpeg');
}
.content-section-card
.section-card:nth-child(5):before 
{     
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('assets/img/uen.jpeg');
}