/* контент хэсэг чилглүүлэгч */
.content-section-navigation
{
      width: 100%;
      height: 80vh;          
      background-size: cover;
      background-repeat: no-repeat; 
      
      background-image: url('assets/img/header-02.jpg');
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
} 
.content-section-wheel
{
      margin-top: -200px;
}
.content-section-wheel
svg 
{          
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: 0 auto;      
      position: absolute;            
}
.content-section-wheel
circle 
{
      fill: none;     
      color: #eee;
      stroke-width: 0.5px;
      stroke: currentcolor;
      stroke-linecap: round;
      stroke-dasharray: 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1;

      animation: wheel-animation 30s ease infinite;
}
.content-section-wheel
g 
{      
      transform-origin: 50% 50%;
      animation: wheel-circle 20s linear infinite;
      animation: wheel-zooming 10s ease infinite;
}



/* контент хэсэг гарчиг */
.content-section-article
{
      width: 100%;
      height: auto;
      background-color: #2f5d50;
}
.content-section-article
.article-container
{
      width: 100%;
      padding: 50px;      
}
.content-section-article
.article-header
{
      height: 300px;
      background-color: #2f5d50;
}
.content-section-article
.article-footer
{
      height: 300px;
      background-color: #fafafa;
}
.content-section-article
.article-box
{      
      margin: auto;
      max-width: 45%;
}
.content-section-article
.article-head
{      
      color: #fff;
      position: relative;
      padding: 20px 100px;
      font-family: 'Playfair Display', serif;      
}
.content-section-article
.article-head
p
{
      color: #eee;
      font-size: 40px;
      font-weight: 500;      
}
.content-section-article
.article-head::before 
{
      content: "";      
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      position: absolute;
      background-color: #eee;
}
.content-section-article
.article-heading
{
      width: 100%;      
      padding: 10px 0;
      position: relative;
}
.content-section-article
.article-heading
span
{            
      color: #444;
      font-size: 18px;
      font-weight: 800;
}
.content-section-article
.article-heading
p
{
      color: #444;
      font-size: 16px;
      font-weight: 500;
      padding-top: 10px;
}
.content-section-article
.article-heading::before, 
.content-section-article
.article-heading::after 
{
      content: "";      
      left: 50%;
      width: 10px;
      height: 2px;      
      position: absolute;
      margin-left: -10px;
      background-color: #bbb;
}
.content-section-article
.article-heading::before 
{
      top: 0;
}
.content-section-article
.article-heading::after 
{
      bottom: 0;
}



/* контент хэсэг багана */
.content-section-column
.context-container:after 
{
      content: "";
      clear: both;
      display: table;      
}
.content-section-column
.column-a
{           
      float: left;
      width: 37.5%;
      height: 700px;
      background-color: #fafafa;
}
.content-section-column
.column-article
{
      width: 25%;
      float: right;
      padding-top: 150px; 
}
.content-section-column
.column-article
h5
{          
      font-size: 30px;      
      color: #007966;
      font-weight: 800;
}
.content-section-column
.column-article
p
{          
      color: #444;
      font-size: 14px;
      font-weight: 700;
      padding-top: 20px;      
}
.content-section-column
.column-b
{
      width: 25%;
      float: left;
      height: 700px;
      background-color: #fafafa;
}  
.content-section-column
.column-b
img
{
      width: 40%;
      margin: auto;
      display: flex;      
      margin-top: 50px;
      border-radius: 5px;
}
.content-section-column
.column-c
{      
      float: left;
      width: 37.5%;
      height: 700px;
      background-color: #fafafa;
}  
.content-section-column
.column-paragraph
{
      width: 25%;      
      padding-top: 200px;
}
.content-section-column
.column-paragraph
h5
{                
      font-size: 30px;
      color: #007966;
      font-weight: 800;
}
.content-section-column
.column-paragraph
p
{                
      color: #444;
      font-size: 14px;
      font-weight: 700;
      padding-top: 40px;
}



/* контент хэсэг нугалам */
.content-section-flex
{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: #fafafa;

      -webkit-font-smoothing: antialiased;           
}
.content-section-flex
.flex-item
{      
      top: 50%;
      left: 50%;
      position: absolute;

      transform: translate(-50%, -50%);
}
.content-section-flex
.flex-heading
{      
      top: 50%;
      left: 50%;
      position: absolute;

      transform: translate(-50%, -50%);
}
.content-section-flex
h5
{     
      margin: 0;
      color: #444;
      display: block;
      font-size: 150px;
      font-weight: 900;
      white-space: nowrap;
      letter-spacing: 5px;
      text-transform: uppercase;      
}
.content-section-flex
.flex-animation
{      
      animation: flex-animation 20s linear infinite;
      -webkit-animation: flex-animation 20s linear infinite;
}
.content-section-flex
span 
{
      border-radius: 8px;
      display: inline-block;
}
.content-section-flex
.flex-background
{
      z-index: 20;
      width: 50%;
      height: 500px;         
      overflow: hidden;
      object-fit: cover;
      position: relative;      
      background: url("assets/img/flex/flex-01.jpg") center top no-repeat;     
}
.content-section-flex
h5.active
{
      z-index: 50;
      color: #eee;
}




/* контент хэсэг сүлжих */
.content-section-grid
{
      width: 100%;
      height: auto;
      background-color: #fafafa;
}
.content-section-grid
.grid-container 
{
      width: 100%;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;     
}
.content-section-grid
.grid-item
{          
      margin: 2px;
      height: 350px;
      display: block;      
      max-width: 20%;       
      overflow: hidden;
      padding: 20px 20px;
      border-radius: 10px;                
      background-color: #fdfdfd;
      box-shadow: 0px 2px 15px 0px #fafafa;
      /*
      border: 1px solid #bbb;
      */           
}
.content-section-grid
.grid-item:hover 
{
      z-index: 500;
     
      /*
      box-shadow: 0px 0px 1200px 1800px #fafafa;      
      */

      transition: all 0.3s ease-out;
}
.content-section-grid
a
{
      text-decoration: none;      
}
.content-section-grid
h5
{     
      color: #888;
      font-size: 14px;      
      font-weight: 800;
      line-height: 24px;            
}
.content-section-grid
p 
{      
      color: #444;
      font-size: 13px;
      font-weight: 500;      
}
.content-section-grid
p:hover
{
      color: #222;
}



/* контент хэсэг хайрцаг */
.content-section-flexbox
{
      margin-top: 50px;
}
.content-section-flexbox
{
      width: 100%;
      height: auto;            
}
.content-section-flexbox
.flexbox-article
{
      width: 100%;
      text-align: center;
}
.content-section-flexbox
.flexbox-container
{
      height: auto;
      margin: auto;
      max-width: 90%;
      padding-top: 150px;
}
.content-section-flexbox
.flexbox-background
{
      width: 120px;
      height: auto;      
}
.content-section-flexbox
.flexbox-icon
{
      width: 12px;
      height: auto;
      margin-top: -5px;
}
.content-section-flexbox
.flexbox-heading
{      
      font-size: 11px;       
      color: #002613;
      margin-top: 30px;       
      letter-spacing: 4px;
      text-transform: lowercase;            
}
.flexbox-heading
span
{
      font-size: 14px;
      margin-left: 10px;
      text-transform: uppercase;
}
.content-section-flexbox
.flexbox-item
{     
      display: flex;
      overflow: hidden;
      min-height: 250px;           
}
.content-section-flexbox
.flexbox-item
.flex-list
{          
      width: 180px;
      margin: 0 auto;
      cursor: pointer;
      min-height: 100%;      
      text-align: center;      
      border-radius: 8px;
      vertical-align: middle;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;      
      
      transition: 500ms cubic-bezier(1, 0.02, 0, 0.98);      
}
.content-section-flexbox
.flexbox-item
.flex-list:hover
{
      opacity: 0.8;      
}
.content-section-flexbox
.flex-list
p
{  
      top: 50%;
      color: #fff;
      font-size: 20px;
      font-weight: 900;
      position: relative;
      text-align: center;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;      
      font-family: 'Playfair Display', serif;
      
      transition: 250ms cubic-bezier(1, 0.02, 0, 0.98);
}
.content-section-flexbox
.p1 
{
      background: url("assets/img/flexbox/flexbox-01.jpg");
}
.content-section-flexbox
.p2 
{
      background: url("assets/img/flexbox/flexbox-02.jpg");
}
.content-section-flexbox
.p3 
{
      background: url("assets/img/flexbox/flexbox-03.jpg");
}
.content-section-flexbox
.p4 
{
      background: url("assets/img/flexbox/flexbox-04.jpg");
}
.content-section-flexbox
.p5 
{
      background: url("assets/img/flexbox/flexbox-05.jpg");
}
.content-section-flexbox
.p6 
{
      background: url("assets/img/flexbox/flexbox-06.jpg");
}
.content-section-flexbox
.p7 
{
      background: url("assets/img/flexbox/flexbox-07.jpg");
}
.content-section-flexbox
.p8 
{
      background: url("assets/img/flexbox/flexbox-08.jpg");
}
.content-section-flexbox
.p9 
{
      background: url("assets/img/flexbox/flexbox-09.jpg");
}
.content-section-flexbox
.p10 
{
      background: url("assets/img/flexbox/flexbox-10.jpg");
}
